@use "./colors.scss" as colors;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: colors.$mainBodyColor;
	font-size: 1.6rem;
}
html {
	font-size: 10px;
	color: colors.$textColor;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: colors.$textColor;
}

li {
	list-style: none;
}

h1 {
	position: relative;
	padding: 0 2rem;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	font-size: 5rem;
	z-index: 10;
	color: colors.$mainBodyColor;
}

h2 {
	font-size: 4rem;
	text-transform: uppercase;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

img {
	width: 75%;
	height: auto;
}
