@use "./colors.scss" as colors;

.section {
	padding: 4rem 2rem;

	h2 {
		padding: 6rem 0;
		text-align: center;
	}

	h3 {
		padding: 2rem 0;
		text-align: center;
		text-transform: uppercase;
	}

	&__padding {
		padding-top: 4rem;
	}

	&__aboutUsText {
		display: flex;
		flex-direction: column;
		align-items: flex-stretch;
		gap: 10px;
	}

	&__advisors {
		margin: 10rem 0;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 10px;
	}

	&__adviser {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// &__adviserDescription {
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// }
}
