@use "./colors.scss" as colors;

.section {
	padding: 4rem 2rem;

	h2 {
		padding-bottom: 4rem;
		text-align: center;
	}

	h3 {
		padding: 2rem 0;
		text-align: center;
		text-transform: uppercase;
	}

	&__padding {
		padding-top: 4rem;
	}

	&__aboutUsText {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	&__advisors {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
}
